:root {
  --primary-color: #81b214;
  --secondary-color: #b3e283;
  --highlight-color: #ffcc29;
  --hot-color: #f58634;
  --danger-color: #d44000;
  --body-bg-color: #ffffff;
  --white-color: #ffffff;
  --dark-color: #272727;
  --tw-text-opacity: 1;
}
